In [1]:
import pandas as pd

In [2]:
# Importing all the datasets
df_s1_2022 = pd.read_csv("../DATA/initial/Recharge S1 2022_newnew.csv")
df_s2_2022 = pd.read_csv("../DATA/initial/Recharge S2 2022_newnew.csv")
df_2023 = pd.read_csv("../DATA/initial/Recharge 2023_newnew.csv")

print(df_s1_2022.shape,df_s2_2022.shape,df_2023.shape)

(611916, 8) (603585, 8) (977367, 8)

## Processing the 'Recharge S1 2022_newnew' solely

In [3]:
df_s1_2022.head()

,ID,COUNT_IN_ID_mod,IN_DENOMINATIONS,IN_RECHARGE_TYPE,IN_SUBSCRIPTION_TYPE,IN_TRADETYPE,PROFIL_BIS,REPORT_DATE
0,0,21,5,Others,-1,1002,2015,2022-01-01 01:00:00
1,1,971,10,Others,-1,1002,2015,2022-01-01 01:00:00
2,2,546,20,Others,-1,1002,2015,2022-01-01 01:00:00
3,3,11,25,Others,-1,1002,2015,2022-01-01 01:00:00
4,4,96,30,Others,-1,1002,2015,2022-01-01 01:00:00

In [4]:
# Exploring the datatypes of each column
df_s1_2022.dtypes

ID                       int64
COUNT_IN_ID_mod          int64
IN_DENOMINATIONS         int64
IN_RECHARGE_TYPE        object
IN_SUBSCRIPTION_TYPE     int64
IN_TRADETYPE             int64
PROFIL_BIS               int64
REPORT_DATE             object
dtype: object

In [5]:
# Seeing the rows that have empty values
df_s1_2022.isna().sum()

ID                      0
COUNT_IN_ID_mod         0
IN_DENOMINATIONS        0
IN_RECHARGE_TYPE        0
IN_SUBSCRIPTION_TYPE    0
IN_TRADETYPE            0
PROFIL_BIS              0
REPORT_DATE             0
dtype: int64

In [6]:
# Deleting unnecessary data
print("Before cleansing shape was",df_s1_2022.shape)
df_s1_2022.dropna(inplace=True)
# To delete the IN_TRADETYPE that is equivalent to IN_RECHARGE_TYPE
df_s1_2022.drop(["IN_TRADETYPE"], axis = 1, inplace = True) 
df_s1_2022.drop(["ID"], axis = 1, inplace = True) 
print("After cleansing shape was",df_s1_2022.shape)

Before cleansing shape was (611916, 8)
After cleansing shape was (611916, 6)

In [7]:
# Fixing the date column 
df_s1_2022["REPORT_DATE"] = pd.to_datetime(df_s1_2022["REPORT_DATE"])
df_s1_2022["REPORT_DATE"] = df_s1_2022["REPORT_DATE"].dt.date

df_s1_2022.head()

,COUNT_IN_ID_mod,IN_DENOMINATIONS,IN_RECHARGE_TYPE,IN_SUBSCRIPTION_TYPE,PROFIL_BIS,REPORT_DATE
0,21,5,Others,-1,2015,2022-01-01
1,971,10,Others,-1,2015,2022-01-01
2,546,20,Others,-1,2015,2022-01-01
3,11,25,Others,-1,2015,2022-01-01
4,96,30,Others,-1,2015,2022-01-01

## Processing the 'Recharge S2 2022_newnew' solely

In [8]:
df_s2_2022.head()

,ID,COUNT_IN_ID_mod,IN_DENOMINATIONS,IN_RECHARGE_TYPE,IN_SUBSCRIPTION_TYPE,IN_TRADETYPE,PROFIL_BIS,REPORT_DATE
0,0,6,5,Others,-1.0,1002,2015,2022-07-01 01:00:00
1,1,931,10,Others,-1.0,1002,2015,2022-07-01 01:00:00
2,2,406,20,Others,-1.0,1002,2015,2022-07-01 01:00:00
3,3,16,25,Others,-1.0,1002,2015,2022-07-01 01:00:00
4,4,36,30,Others,-1.0,1002,2015,2022-07-01 01:00:00

In [9]:
# Exploring the datatypes of each column
df_s2_2022.dtypes

ID                        int64
COUNT_IN_ID_mod           int64
IN_DENOMINATIONS          int64
IN_RECHARGE_TYPE         object
IN_SUBSCRIPTION_TYPE    float64
IN_TRADETYPE              int64
PROFIL_BIS                int64
REPORT_DATE              object
dtype: object

In [10]:
# Seeing the rows that have empty values
df_s2_2022.isna().sum()

ID                       0
COUNT_IN_ID_mod          0
IN_DENOMINATIONS         0
IN_RECHARGE_TYPE         0
IN_SUBSCRIPTION_TYPE    21
IN_TRADETYPE             0
PROFIL_BIS               0
REPORT_DATE              0
dtype: int64

In [11]:
# Deleting unnecessary data
print("Before cleansing shape was",df_s2_2022.shape)
df_s2_2022.dropna(inplace=True)
# To delete the IN_TRADETYPE that is equivalent to IN_RECHARGE_TYPE
df_s2_2022.drop(["IN_TRADETYPE"], axis = 1, inplace = True) 
df_s2_2022.drop(["ID"], axis = 1, inplace = True) 
print("After cleansing shape was",df_s2_2022.shape)

Before cleansing shape was (603585, 8)
After cleansing shape was (603564, 6)

In [12]:
# Changing the type of IN_SUBSCRIPTION_TYPE to int to avoid future conflicts
df_s2_2022["IN_SUBSCRIPTION_TYPE"] = df_s2_2022["IN_SUBSCRIPTION_TYPE"].astype("int64")

In [13]:
# Fixing the date column 
df_s2_2022["REPORT_DATE"] = pd.to_datetime(df_s2_2022["REPORT_DATE"])
df_s2_2022["REPORT_DATE"] = df_s2_2022["REPORT_DATE"].dt.date

df_s2_2022.head()

,COUNT_IN_ID_mod,IN_DENOMINATIONS,IN_RECHARGE_TYPE,IN_SUBSCRIPTION_TYPE,PROFIL_BIS,REPORT_DATE
0,6,5,Others,-1,2015,2022-07-01
1,931,10,Others,-1,2015,2022-07-01
2,406,20,Others,-1,2015,2022-07-01
3,16,25,Others,-1,2015,2022-07-01
4,36,30,Others,-1,2015,2022-07-01

## Processing the 'Recharge 2023_newnew' solely

In [14]:
df_2023.sample(n=5)

,ID,COUNT_IN_ID_mod,IN_DENOMINATIONS,IN_RECHARGE_TYPE,IN_SUBSCRIPTION_TYPE,IN_TRADETYPE,PROFIL_BIS,REPORT_DATE
15762,15762,51,30,PWC,3,1002,86907,2023-01-07 01:00:00
703951,703951,1436,5,SC Recharge,2,7,5292,2023-09-19 01:00:00
353675,353675,1,100,Rel,-1,1013,88973,2023-05-12 01:00:00
689307,689307,15636,10,PWC,2,1002,5291,2023-09-14 01:00:00
946255,946255,4496,20,Dealer,6,999,84001,2023-12-20 01:00:00

In [15]:
# Exploring the datatypes of each column
df_2023.dtypes

ID                       int64
COUNT_IN_ID_mod          int64
IN_DENOMINATIONS         int64
IN_RECHARGE_TYPE        object
IN_SUBSCRIPTION_TYPE     int64
IN_TRADETYPE             int64
PROFIL_BIS               int64
REPORT_DATE             object
dtype: object

In [16]:
# Seeing the rows that have empty values
df_2023.isna().sum()

ID                      0
COUNT_IN_ID_mod         0
IN_DENOMINATIONS        0
IN_RECHARGE_TYPE        0
IN_SUBSCRIPTION_TYPE    0
IN_TRADETYPE            0
PROFIL_BIS              0
REPORT_DATE             0
dtype: int64

In [17]:
# Deleting unnecessary data
print("Before cleansing shape was",df_2023.shape)
df_2023.dropna(inplace=True)
# To delete the IN_TRADETYPE that is equivalent to IN_RECHARGE_TYPE
df_2023.drop(["IN_TRADETYPE"], axis = 1, inplace = True) 
df_2023.drop(["ID"], axis = 1, inplace = True) 
print("After cleansing shape was",df_2023.shape)

Before cleansing shape was (977367, 8)
After cleansing shape was (977367, 6)

In [18]:
# Fixing the date column 
df_2023["REPORT_DATE"] = pd.to_datetime(df_2023["REPORT_DATE"])
df_2023["REPORT_DATE"] = df_2023["REPORT_DATE"].dt.date

df_2023.head()

,COUNT_IN_ID_mod,IN_DENOMINATIONS,IN_RECHARGE_TYPE,IN_SUBSCRIPTION_TYPE,PROFIL_BIS,REPORT_DATE
0,6,5,PWC,-1,2015,2023-01-01
1,946,10,PWC,-1,2015,2023-01-01
2,411,20,PWC,-1,2015,2023-01-01
3,21,25,PWC,-1,2015,2023-01-01
4,51,30,PWC,-1,2015,2023-01-01

### Fusing the 2022 dataframes

In [19]:
df_2022 =  pd.concat([df_s1_2022,df_s2_2022],ignore_index=True)
df_2022.head()

,COUNT_IN_ID_mod,IN_DENOMINATIONS,IN_RECHARGE_TYPE,IN_SUBSCRIPTION_TYPE,PROFIL_BIS,REPORT_DATE
0,21,5,Others,-1,2015,2022-01-01
1,971,10,Others,-1,2015,2022-01-01
2,546,20,Others,-1,2015,2022-01-01
3,11,25,Others,-1,2015,2022-01-01
4,96,30,Others,-1,2015,2022-01-01

## Adding the product column that is COUNT_IN_ID_mod * IN_DENOMINATIONS

In [20]:
df_2022["REVENUE"] = df_2022["COUNT_IN_ID_mod"]*df_2022["IN_DENOMINATIONS"]
df_2023["REVENUE"] = df_2023["COUNT_IN_ID_mod"]*df_2023["IN_DENOMINATIONS"]

## Deleting useless info to reduce entry size

In [21]:
useful_subscription_types = [-1, 3, 1, 6, 2, 4, 7, 9, 8, 5]

In [22]:
df_2022 = df_2022[df_2022["IN_SUBSCRIPTION_TYPE"].isin(useful_subscription_types)]
df_2023 = df_2023[df_2023["IN_SUBSCRIPTION_TYPE"].isin(useful_subscription_types)]

In [23]:
df_2022 = df_2022.where(df_2022["IN_DENOMINATIONS"]>=5).dropna()
df_2023 = df_2023.where(df_2023["IN_DENOMINATIONS"]>=5).dropna()

## Saving the resulted datasets

In [24]:
df_2022.to_csv("../DATA/prepared/INWI-22.csv")
df_2023.to_csv("../DATA/prepared/INWI-23.csv")